#aboutMe{
  overflow: auto;
  min-height: 600px;
  width: 100%;
  display: block;
  background-color: #a6bed6;
}

#blog{
  overflow: auto;
  min-height: 600px;
  width: 100%;
  display: block;
  background-color: #a6bed6;
}

#myWork{
  overflow: auto;
  min-height: 600px;
  width: 100%;
  display: block;
  background-color: #a6bed6;
}

#jumbo{
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  height: 700px;
  text-align: center;
  padding-top: 250px;
}

#nav-style{
  display: inline-block;
}
