body{
  height: 100%;
  width: 100%;
}
#aboutMe{
  overflow: auto;
  min-height: 300px;
  width: 100%;
  display: block;
  background-color: #a6bed6;
}

#myWork{
  overflow: auto;
  min-height: 300px;
  width: 100%;
  display: block;
  background-color: #a6bed6;
}

#social{
  overflow: auto;
  min-height: 300px;
  width: 100%;
  display: block;
  background-color: #a6bed6;
}

#jumbo{
  margin: 0;
  padding-bottom: 2rem;
  min-height: 700px;
  width: 100%;
  text-align: center;
  padding-top: 250px;
}

#nav-style{
  display: inline-block;
}

.sectionText{
  font-size: 25px;
  text-align: center;
}

#bottom{
  text-align: center;
  background-color:#e9ecef;

}